.homeInfo_section{
    padding: 100px 0;
    gap: 60px;
}
.homeInfo_text{
    padding-top: 54px;
}
.img{
    width: 100%;
    max-width: 282.5px;
}
@media (max-width: 850px){
    .homeInfo_img{
        margin-right: 0 !important;
    }
}
@media (max-width: 768px){
    .homeInfo_section{
        flex-direction: column;
    }
    .homeInfo_section h1{
        font-size: 56px !important;
    }
    .homeInfo_right img{
        width: 100%;
        max-width: none;
        object-fit: cover;
    }
    .homeInfo_img{
        width: 100%;
        height: 345px;
        margin: 0 !important;
    }
    .homeInfo_img{
        margin-top: 10px !important;
    }
}