.product {
    padding: 2px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F2F2F2;
    margin-bottom: 10px;
    gap: 10px; /* Добавить немного пространства между блоками */
}

.productImg img {
    max-height: 141px;
    object-fit: contain;
}

/* Контейнер для текста */
.textContent {
    flex: 1; /* Дает текстовому блоку гибкость */
    display: flex;
    flex-direction: column;
    gap: 5px; /* Расстояние между строками */
}

/* Блок для количества и цены */
.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* Выравнивание текста и кнопок справа */
}

.right span {
    display: inline-flex;
    align-items: center;
    gap: 5px; /* Расстояние между текстом и иконкой */
}

.f24 {
    font-size: 24px;
    line-height: 1; /* Убирает лишние отступы */
    white-space: nowrap; /* Предотвращает перенос текста */
}

@media (max-width: 960px){
    .product{
        padding: 7.5px 10px;
    }
    .productImg{
        min-width: 60px;
        max-width: 60px;
        height: 80px;
    }
    img{
        width: 100%;
        height: 100%;
        max-height: initial;
        object-fit: cover !important;
    }
}

@media (max-width: 480px){
    .product{
        gap: 0;
    }
    .textContent{
        gap: 3px;
    }
    .textContent h3{
        margin: 0;
        font-size: 12px !important;
    }
    .right{
        flex-direction: row;
    }
    .right span{
        text-align: center;
        font-weight: 400;
        color: black;
        font-size: 20px !important;
    }
}

@media (max-width: 400px){
    .textContent{
        flex: auto;
    }
    .textContent h2{
        font-size: 12px !important;
    }
    .right{
        gap: 10px;
    }
    .right span{
        font-size: 16px !important;
    }
}