.custom_select {
    position: relative;
    width: max-content;
    cursor: pointer;
  }
  .selectText{
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    @media (max-width: 768px){
      font-size: 16px !important;
    }
    @media(max-width: 360px){
        font-size: 12px !important;
    }
  }
  
  .selected_value {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dropdown_arrow {
    margin-left: 10px;
    transition: transform 0.3s ease;
  }
  
  .dropdown_arrow.open {
    transform: rotate(180deg);
  }
  .truncate {
    max-width: 70px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .dropdown_list {
    margin-top: 5px;
    width: max-content;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
    box-shadow: 0px 1px 3px 0px #00000040;
    border-top: 0.5px solid #61C4BF;

    scrollbar-width: thin; /* Для Firefox */
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;  /* Цвет полосы и фона */
  }
  
  .dropdown_item {
    padding: 10px;
    background-color: #fff;
    transition: background-color 0.3s ease;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.101);
  }
  
  .dropdown_item:hover, .dropdown_item.selected {
    background-color: #f0f0f0;
  }
  
  .dropdown_item.selected {
    font-weight: bold;
  }
  
  .dropdown_list::-webkit-scrollbar {
    width: 8px; /* Ширина полосы прокрутки */
    height: 8px; /* Высота полосы прокрутки, если нужно горизонтальное скроллирование */
  }
  
  .dropdown_list::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.3); /* Полупрозрачный цвет ползунка */
    border-radius: 4px; /* Скругленные углы */
  }
  
  .dropdown_list::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.5); /* Темнее при наведении */
  }
  
  .dropdown_list::-webkit-scrollbar-track {
    background: transparent; /* Прозрачный фон */
  }