.comment{
    padding: 20px;
    margin: 26px 0 0 0;
}
.comment_head img{
    width: 60px;
    height: 60px;
    object-fit: contain;
}
.comment_head h5{
    margin-left: 10px;
}
.comment_txt{
    margin: 20px 0;
}
.comment_body_right button{
    border: none;
    background-color: transparent;
}
.comment_imgs{
    gap: 13px;
}
.comment_imgs img{
    width: 100px;
    height: 65px;
    object-fit: cover;
}
.comment_input{
    width: 95%;
    padding: 10px;
    border: none;
    margin-top: 20px;
    margin-bottom: 16px;
}
.comment_section textarea{
    outline: none;
}

.saveBtn{
    font-size: 24px;
    font-weight: 400;
    color: #54565A;
    border: none;
    outline: none;
    padding: 4px 15px;
    border-radius: 8px;
    background: #D9D8D6;
    margin-top: 24px;
}