.register {
    padding: 40px 0;
}

.form {
    margin-top: 40px;
}

.links {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
}

.links a {
    color: #54565A;
    font-size: 24px;
    font-weight: 400;
    font-style: italic;
    text-decoration: underline;
}

.input {
    width: 100%;
    padding-bottom: 15px;
    font-size: 24px;
    border: none;
    border-bottom: 0.5px solid #54565A;
    outline: none;
    margin: 26px 0;
    color: #54565A;
}

.input::placeholder {
    color: #D9D8D6;
}