.review{
    padding: 29px 0;
    border-top: 1px solid #D9D8D6;
    border-bottom: 1px solid #D9D8D6;
}
.profileImg{
    background: #D9D8D6;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.profileImg img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.reviewImg img{
    width: 180px;
    height: 117px;
}