.productsList {
    display: flex;
    gap: 80px;
    justify-content: center;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(3, 1fr); */
    max-width: 1200px; /* Ограничиваем ширину */
    margin: 0 auto; /* Центрируем контейнер */
}

@media (max-width: 1280px) {
    .productsList {
        display: flex;
        /* justify-content: space-between; */
        flex-wrap: wrap;
        /* gap: 0; */
        padding: 0;
    }
}

@media (max-width: 1040px) {
    .productsList {
        gap: 80px;
        justify-content: center;
    }
}

@media (max-width: 768px) {
    .productsList {
        padding: 0 24px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 650px) {
    .productsList {
        padding: 0 60px;
        gap: 50px;        
        grid-template-columns: 1fr;
    }
}

@media (max-width: 475px) {
    .productsList {
        padding: 0 10px;
    }
}

