.counter {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 10px;
  }
  
  .decrement,
  .increment {
    background:none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  .count {
    margin: 0 10px;
  }
  
  .decrement:disabled,
  .increment:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  