.sidebar {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-right: 25px;
    height: 100%;
}

.tab {
    padding: 10px;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    color: #54565A;
    transition: background-color 0.3s ease;
}

.tab:hover {
    background: #F2F2F2;
}

.active {
    font-weight: 700;
    background: #F2F2F2;
}

@media (max-width: 480px){
    .sidebar{
        width: 100%;
        margin-bottom: 50px;
    }
}