.productCard{
    padding: 12px 10px;
    background: #FAFAFA;
    box-shadow: 0px 4px 4px 0px #00000040;
    /* min-width: max-content; */
    width: 100% !important;
}
.productCard_head{
    margin-bottom: 20px;
}
.productCard_img{
    margin: 17px 0;
    /* padding: 0px 50px; */
}
.productCard_img img{
    width: 100%;
    max-height: 131px;
    object-fit: contain;
}
.productCard_selects{
    margin: 20px 0;
    padding: 10px 0;
    border-top: 1.02px solid #000000;
    border-bottom: 1.02px solid #000000;
}
.addToCart{
    padding: 2px 15px;
    background: #54565A;
    outline: none;
    border: none;
    cursor: pointer;
}
.productCard_body p{
    margin: 17px 0;
}
.favorited svg path{
    transition: .3s;
}
.favorited:hover svg path{
    fill: #61C4BF;
}
.feedback svg path{
    transition: .3s;
}
.feedback:hover svg path{
    fill: #61C4BF;
}
.productCard_characteristics{
    margin-bottom: 20px;
}
@media (max-width: 960px){
    .productCard{
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: calc(50% - 40px);
    }
}
@media (max-width: 650px){
    .productCard{
        flex-basis:100% !important;
    }
}