.productCard{
    padding: 12px 10px;
    background: #FAFAFA;
    box-shadow: 0px 4px 4px 0px #00000040;
    /* min-width: max-content; */
    width: 100% !important;
}
.productCard_head{
    margin-bottom: 20px;
}
.productCard_img{
    margin: 17px 0;
}
.productCard_img img{
    /* width: 200px;
    height: 131px; */
}
.productCard_selects{
    margin: 20px 0;
    padding: 10px 0;
    border-top: 1.02px solid #000000;
    border-bottom: 1.02px solid #000000;
}
.addToCart{
    padding: 2px 15px;
    background: #54565A;
    outline: none;
    border: none;
    cursor: pointer;
}
.productCard_body p{
    margin: 17px 0;
}
.favorited svg path{
    transition: .3s;
}
.favorited:hover svg path{
    fill: #61C4BF;
}
.feedback svg path{
    transition: .3s;
}
.feedback:hover svg path{
    fill: #61C4BF;
}