@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Roboto Condensed", sans-serif;
    box-sizing: border-box;
}

ul {
    padding-left: 0 !important;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

div {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

input {
    outline: none !important;
}

.App {
    position: relative;
}

.pointer {
    cursor: pointer;
}

.container {
    padding: 0 40px;
}

.container .container {
    padding: 0 !important;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.j-start {
    justify-content: flex-start;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.j-between {
    justify-content: space-between;
}

.j-around {
    justify-content: space-around;
}

.a-start {
    align-items: flex-start;
}

.a-center {
    align-items: center;
}

.a-normal {
    align-items: normal;
}

.a-end {
    align-items: flex-end;
}

.d-none {
    display: none;
}

.column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.g8 {
    gap: 8px;
}

.g16 {
    gap: 16px;
}

.w-16 {
    width: 16%;
}

.w-33 {
    width: 33%;
}

.w-48 {
    width: 48%;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.pb48 {
    padding-bottom: 48px;
}

.mt12 {
    margin-top: 12px;
}

.mt15 {
    margin-top: 15px;
}

.reversed-row {
    flex-direction: row-reverse;
}

.defaultBtn {
    border: none;
    outline: none;
}

/* colors  */
.black{
    color: black;
}

.white{
    color: white;
}

.green200 {
    color: #B3DBDC;
}

.green600 {
    color: #33686E;
}

.green800 {
    color: #29474C;
}

.white {
    color: #fff !important;
}

.grey {
    color: #D9D8D6;
}

.gray100 {
    color: #F3F4F6;
}

.gray300 {
    color: #D1D5DB;
}

.gray400 {
    color: #9CA3AF;
}

.gray500 {
    color: #6B7280;
}

.gray600 {
    color: #4B5563;
}

.darkGrey_color{
    color: #54565A;
}

.blueAccent {
    color: #61C4BF;
}

.blue100 {
    color: #D6F1EF;
}

/* Bg colors */
.tifanny {
    background-color: rgba(97, 196, 191, 1);
}

.darkGray{
    background-color: rgba(84, 86, 90, 1);
}

.gray{
    background-color: #F2F2F2;
}

/* Font-size */
.f12 {
    font-size: 12px !important;
}

.f14 {
    font-size: 14px !important;
}

.f16 {
    font-size: 16px !important;
}

.f18 {
    font-size: 18px !important;
}

.f20 {
    font-size: 20px !important;
}

.f22 {
    font-size: 22px !important;
}

.f24 {
    font-size: 24px !important;
}

.f26 {
    font-size: 26px !important;
}

.f28 {
    font-size: 28px !important;
}

.f30 {
    font-size: 30px !important;
}

.f32 {
    font-size: 32px !important;
}

.f34 {
    font-size: 34px !important;
}

.f36 {
    font-size: 36px !important;
}

.f48 {
    font-size: 48px !important;
}

.f64 {
    font-size: 64px !important;
}

.f72 {
    font-size: 72px !important;
}

.f96 {
    font-size: 96px !important;
}

/* Font weights */
.fw100 {
    font-weight: 100;
}

.fw200 {
    font-weight: 200;
}

.fw300 {
    font-weight: 300;
}

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.fw600 {
    font-weight: 600;
}

.fw700 {
    font-weight: 700;
}

.fw800 {
    font-weight: 800;
}

.fw900 {
    font-weight: 900;
}

/* Border radius */
.border0 {
    border-radius: 0px;
}

.border2 {
    border-radius: 2px;
}

.border4 {
    border-radius: 4px;
}

.border6 {
    border-radius: 6px;
}

.border8 {
    border-radius: 8px;
}

.border12 {
    border-radius: 12px;
}

.border16 {
    border-radius: 16px;
}

.border20 {
    border-radius: 20px;
}

.border24 {
    border-radius: 24px;
}

.border32 {
    border-radius: 32px;
}

.border36 {
    border-radius: 36px;
}

.border50 {
    border-radius: 50px;
}

.border64 {
    border-radius: 64px;
}

.rounded{
    border-radius: 100px;
}