@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
}

ul {
    padding-left: 0 !important;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

div {
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
}

input {
    outline: none !important;
}

.App {
    position: relative;
}

.pointer {
    cursor: pointer;
}

.container {
    width: 80%;
}

@media screen and (max-width: 1450px) {
    .container{
        width: 90%;
    }
}

.container .container {
    padding: 0 !important;
}

.top_header_promo{
    width: 100%;
    background-color: #7DC7C4;
    color: #111418;
    text-align: center;
    font-size: 21px;
    font-weight: 370;
    line-height: 0.8;
    letter-spacing: 0.5px;
    padding: 12px 12px;
    text-transform: uppercase;
}

.italic{
    font-style: italic !important;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.j-start {
    justify-content: flex-start;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: flex-end;
}

.j-between {
    justify-content: space-between;
}

.j-around {
    justify-content: space-around;
}

.a-start {
    align-items: flex-start;
}

.a-center {
    align-items: center;
}

.a-normal {
    align-items: normal;
}

.a-end {
    align-items: flex-end;
}

.d-none {
    display: none;
}

.column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}
.text-upperCase{
    text-transform: uppercase;
}
.g5{
    gap: 5px;
}
.g8 {
    gap: 8px;
}
.g10{
    gap: 10px;
}
.g12{
    gap: 12px;
}
.g16 {
    gap: 16px;
}
.g20{
    gap: 20px;
}
.g23{
    gap: 23px;
}
.g26{
    gap: 26px;
}
.w-16 {
    width: 16%;
}

.w-33 {
    width: 33%;
}

.w-48 {
    width: 48%;
}

.w-100 {
    width: 100%;
}
.w-130{
    width: 130%;
}
.w-140{
    width: 140%;
}
.h-100 {
    height: 100%;
}
.ptb58{
    padding: 58px 0;
}
.pb48 {
    padding-bottom: 48px;
}
.pb6{
    padding-bottom: 6px;
}
.mt4{
    margin-top: 4px;
}
.mt6{
    margin-top: 6px;
}
.mt12 {
    margin-top: 12px !important;
}

.mt15 {
    margin-top: 15px !important;
}
.mt20{
    margin-top: 20px;
}
.mt50{
    margin-top: 50px;
}
.mt24{
    margin-top: 24px !important;
}

.mt36{
    margin-top: 36px !important;
}
.mb20{
    margin-bottom: 20px;
}
.mb24{
    margin-bottom: 24px;
}
.reversed-row {
    flex-direction: row-reverse;
}

.defaultBtn {
    border: none;
    outline: none;
}

/* colors  */
.black{
    color: black;
}

.white{
    color: white;
}

.green200 {
    color: #B3DBDC;
}

.green600 {
    color: #33686E;
}

.green800 {
    color: #29474C;
}

.white {
    color: #fff !important;
}

.grey {
    color: #D9D8D6;
}

.gray100 {
    color: #F3F4F6;
}

.gray300 {
    color: #D1D5DB;
}

.gray400 {
    color: #9CA3AF;
}

.gray500 {
    color: #6B7280;
}

.gray600 {
    color: #4B5563;
}

.darkGrey_color{
    color: #54565A;
}

.tifanny_color {
    color: rgba(97, 196, 191, 1);
}

.blueAccent {
    color: #61C4BF;
}

.blue100 {
    color: #D6F1EF;
}

/* Bg colors */
.tifanny {
    background-color: rgba(97, 196, 191, 1);
}

.darkGray{
    background-color: rgba(84, 86, 90, 1);
}

.gray{
    background-color: #F2F2F2;
}

/* Font-size */
.f12 {
    font-size: 12px !important;
}

.f14 {
    font-size: 14px !important;
}

.f16 {
    font-size: 16px !important;
}

.f18 {
    font-size: 18px !important;
}

.f20 {
    font-size: 20px !important;
}

.f22 {
    font-size: 22px !important;
}

.f24 {
    font-size: 24px !important;
}

.f26 {
    font-size: 26px !important;
}

.f28 {
    font-size: 28px !important;
}

.f30 {
    font-size: 30px !important;
}

.f32 {
    font-size: 32px !important;
}

.f34 {
    font-size: 34px !important;
}

.f36 {
    font-size: 36px !important;
}

.f48 {
    font-size: 48px !important;
}

.f56 {
    font-size: 56px !important;
}

.f60 {
    font-size: 60px !important;
}

.f64 {
    font-size: 64px !important;
}

.f72 {
    font-size: 72px !important;
}

.f80 {
    font-size: 80px !important;
}

.f84 {
    font-size: 84px !important;
}

.f96 {
    font-size: 96px !important;
}

/* Roboto font */
.robotoFont{
    font-family: "Roboto Condensed", sans-serif;
}

/* Font weights */
.fw100 {
    font-weight: 100;
}

.fw200 {
    font-weight: 200;
}

.fw300 {
    font-weight: 300;
}

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.fw600 {
    font-weight: 600;
}

.fw700 {
    font-weight: 700;
}

.fw800 {
    font-weight: 800;
}

.fw900 {
    font-weight: 900;
}
.border-bottom{
    border-bottom: 1px solid #D9D8D6;
}
/* Border radius */
.border0 {
    border-radius: 0px;
}

.border2 {
    border-radius: 2px;
}

.border4 {
    border-radius: 4px;
}

.border6 {
    border-radius: 6px;
}

.border8 {
    border-radius: 8px;
}

.border12 {
    border-radius: 12px;
}

.border16 {
    border-radius: 16px;
}

.border20 {
    border-radius: 20px;
}

.border24 {
    border-radius: 24px;
}

.border32 {
    border-radius: 32px;
}

.border36 {
    border-radius: 36px;
}

.border40{
    border-radius: 40px;
}

.border50 {
    border-radius: 50px;
}

.border64 {
    border-radius: 64px;
}

.rounded{
    border-radius: 100px;
}

.modal{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: #0000002d;
    z-index: 5;
    cursor: default;
}
.modal.active{
    display: flex;
}
.modal .modalContent{
    min-width: 50%;
    max-width: 70%;
    background-color: #fff;
    border-radius: 16px;
    padding: 40px 20px;
}
.error{
    margin: 20px 0;
    color: red;
}

.orderInfo_component{
    padding: 20px;
    border: 1px solid #54565A;
    border-radius: 8px;
    margin-bottom: 50px;
}
.noOverwlowY{
    overflow-y: hidden;
}
.body-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100%;
    z-index: 3243243;
}

.limited-text {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Ограничение на 2 строки */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden; 
    text-overflow: ellipsis; /* Добавляет троеточие, если текст не помещается */
    max-height: calc(1.2em * 2); /* Высота для двух строк текста (с учетом line-height) */
    line-height: 1.2em; /* Настройте line-height под свой дизайн */
    max-width: 100%; /* Чтобы текст не выходил за пределы карточки */
    word-wrap: break-word; /* Перенос слов, если они слишком длинные */
    font-size: 16px;
  }
  
  

.swiper-button-prev, .swiper-button-next{
    color: #54565A !important;
}
.swiper-button-prev::after, .swiper-button-next::after{
    font-size: 24px;
}
@media (max-width: 768px){
    .top_header_promo{
        font-size: 17px;
        padding: 10px 8px;
    }
    body{
        overflow-x: hidden;
    }
    .orderInfo_component h2{
        font-size: 24px !important;
    }
}

@media (max-width: 600px){
    .top_header_promo{
        font-size: 12px;
        padding: 8px 6px;
    }
}
