.header_section{
    padding: 20px 0;
}
.menu{
    gap: 15px;
}
.menu_item{
    position: relative;
    padding-bottom: 5px;
    transition: .2s ease-in-out;
}
.menu_item a{
    color: #54565A;
}
.menu_item:hover{
    color: #61C4BF;
}
.languages{
    gap: 10px;
}
.languages span{
    cursor: pointer;
    transition: .3s;
}
.languages span:hover{
    color: #61C4BF !important;
    
}
.languages .active{
    display: none;
}
.active{
    color: #61C4BF !important;
}
.dropdown {
  position: absolute;
  top: 100%;
  min-width: 150px;
  display: none;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  z-index: 10;
  border-top:1px solid #61C4BF;
}

.dropdown_item {
  width: 100%;
  padding: 5px 10px;
  white-space: nowrap;
}

.dropdown_item:hover{
    background-color: #61C4BF;
    transition: .2s ease-in-out;
}

.dropdown_item:hover a{
    color: #fff;
}

.dropdown_item a{
  color: #54565A;
}

.menu_item:hover .dropdown {
  display: block;
}

.menu_btn{
    display: none;
    padding: 10px;
    margin-left: 10px;
}

.close_menu{
    display: none;
    margin-bottom: 65px;
}

.show_menu{
    transition: .3s ease-in-out;
    right: 0 !important;
    display: flex;
}

@media (max-width: 960px){
    .menu_btn, .close_menu{
        display: block;
    }
    .menu{
        transition: .3s ease-in-out;
        position: fixed;
        right: -100%;
        top: 0;
        height: 100%;
        max-width: 300px;
        width: 100%;
        z-index: 99999999;
        flex-direction: column;
        align-items: flex-end !important;
        background-color: #54565A;
        padding: 25px 20px;
    }
    .menu.show_menu{
        right: 0;
    }
    .menu_item a{
        color: white;
        font-size: 24px;
    }
}