.header_section{
    padding: 20px 0;
}
.menu{
    gap: 15px;
}
.menu_item{
    position: relative;
    padding-bottom: 5px;
    transition: .2s ease-in-out;
}
.menu_item a{
    color: #54565A !important;
}
.menu_item:hover{
    color: #61C4BF;
}
.languages{
    gap: 10px;
}
.languages span{
    cursor: pointer;
}
.active{
    color: #61C4BF !important;
}
.dropdown {
  position: absolute;
  top: 100%;
  min-width: 150px;
  display: none;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  z-index: 10;
  border-top:1px solid #61C4BF;
}

.dropdown_item {
  width: 100%;
  padding: 5px 10px;
  white-space: nowrap;
}

.dropdown_item:hover{
    background-color: #61C4BF;
    transition: .2s ease-in-out;
}

.dropdown_item:hover a{
    color: #fff;
}

.dropdown_item a{
  color: #54565A;
}

.menu_item:hover .dropdown {
  display: block;
}
