.profileBody{
    margin-top: 40px;
    width: 100%;
    @media (max-width: 615px){
        flex-direction: column;
    }
}
.tab_content{
    padding-left: 45px;
    border-left: 1px solid #000000;
    width: 100%;
    min-height: 60%;
    /* height: 100%; */
}
@media (max-width: 960px){
    .tab_content{
        display: flex;
        flex-direction: column;
        padding-left: 15px;
    }
}
@media (max-width: 480px){
    .profileBody{
        flex-direction: column;
    }
    .tab_content{
        padding-left: 0;
        border-left: none;
    }
}