.productDetails_characteristics{
    padding: 50px 0;
    margin: 0 auto;
}
.characteristic{
    padding: 10px 0;
    border-bottom: 0.5px solid #54565A;
}
.productDetails_characteristics{
    width: 80%;
}