.banner{
    position: relative;
    height: 723px;
}
.banner_title{
    position: relative;
    z-index: 9999;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    height: 100%;
}
.cover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}