.banner{
    position: relative;
    height: 723px;
}
.banner::before {
  content: ""; /* Necessary to create the pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000099; /* 60% black overlay */
  z-index: 1; /* Ensure it appears above the background image */
}
.banner_title{
    position: relative;
    z-index: 9999;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container{
    height: 100%;
}
.cover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
@media (max-width: 960px){
    .banner_title p{
        font-size: 76px !important;
    }
}
@media (max-width: 480px){
    .banner_title p{
        font-size: 48px !important;
    }
}
@media (max-width: 360px){
    .banner_title p{
        font-size: 36px !important;
    }
}