.contact{
    padding: 50px 0;
}
.contact_title:nth-child(2){
    color: #61C4BF;
}
.contact_item{
    margin-top: 40px;
    padding: 35px 24px;
    background-color: #D9D8D6;
}
.contact_item h3{
    text-transform: uppercase;
}
.link{
    padding: 10px 56px;
}
@media (max-width: 768px){
    .contact .contact_title{
        font-size: 64px !important;
    }
    .contact_item{
        flex-direction: column;
    }
    .contact_item h3{
        padding-bottom: 30px;
    }
    .link{
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 480px){
    .contact_item{
        padding: 35px 15px !important;
    }
    .contact .contact_title{
        font-size: 48px !important;
    }
    .contact_item, .contact_item .link{
        font-size: 32px !important;
    }
}