.faq{
    padding: 50px 0 100px;
}
.faqs{
    padding-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-template-rows: auto auto; /* Two rows */
    gap: 30px; 
}
.faq_elem{
    padding: 60px 30px;
}
.faq_elem:nth-child(2n){
    background-color: #fff;
}
.faq_elem:nth-child(2n-1){
    color: white;
    background-color: #54565A;
}
.faq_elem h1{
    padding-bottom: 60px;
}
.label{
    padding-bottom: 20px;
}
.label_num{
    padding: 0 21px 0 0 !important;
}
@media (max-width: 768px){
    .faqs{
        display: flex;
        flex-direction: column;
    }
    .faq h1{
        font-size: 64px !important;
    }
}
@media (max-width: 480px){
    .faq_elem{
        padding: 60px 15px;
    }
    .faq_elem h1.f56{
        padding-bottom: 30px !important;
    }
    .faq h1{
        font-size: 48px !important;
    }
    .faq p{
        font-size: 24px !important;
    }
}