.info{
    padding: 100px 50px;
    position: relative;
}
.title:nth-child(2){
    font-weight: 300;
}
.info_section{
    z-index: 999;
    position: relative;
}
.cover{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
.info_grid{
    padding: 90px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    grid-template-rows: auto auto; /* Two rows */
    gap: 30px; 
}
.info_grid_elem{
    padding: 30px;
    background: #00000080;
}
.info_grid_elem h6{
    text-transform: uppercase;
    padding-bottom: 50px;
}
.info_grid_elem:nth-child(1) {
    grid-column: 1; /* First column */
    grid-row: 1; /* First row */
  }
  
.info_grid_elem:nth-child(2) {
    grid-column: 2; /* Second column */
    grid-row: 1; /* First row */
}
  
.info_grid_elem:nth-child(3) {
    grid-column: 1 / -1; /* Span full width (both columns) */
    grid-row: 2; /* Second row */
}