.offer{
    padding-bottom: 50px;
}
.offer_title:nth-child(1){
    font-weight: 300;
}
.offer_item{
    margin-top: 40px;
    padding: 35px 24px;
    background-color: #D9D8D6;
}
.offer_item h3{
    text-transform: uppercase;
}
.link{
    padding: 10px 56px;
}
@media (max-width: 768px){
}
@media (max-width: 480px){
    .offer_item{
        flex-direction: column;
    }
    .offer_item h3{
        padding-bottom: 30px;
    }
    .link{
        width: 100%;
        text-align: center;
    }
}