.productListContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* 3 карточки в ряд по умолчанию */
  gap: 100px;
  margin: 50px 0;
}

@media screen and (max-width: 1450px) {
  .productListContainer {
    gap: 80px;
  }
}