.productListContainer {
  /* display: grid;*/
  /* grid-template-columns: repeat(3, 1fr);*/
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  /* gap: 100px; */
  margin: 50px 0;
}

@media screen and (max-width: 1060px) {
  .productListContainer {
    gap: 80px;
    justify-content: center;
  }
}

@media screen and (max-width: 960px) {
  .productListContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 650px) {
  .productListContainer {
    padding: 0 40px;
    gap: 50px;
    margin: 0;
  }
}

@media screen and (max-width: 375px) {
  .productListContainer {
    padding: 0;
  }
}
