.sliderContainer {
    width: 100%;
    padding: 20px 0;
  }
  
  .swiper-button-prev, 
  .swiper-button-next {
    color: #00c1c1; /* Customize arrow colors */
  }
  
  .swiper-pagination-bullet {
    background: #cfcfcf; /* Customize pagination color */
  }
  
  .swiper-pagination-bullet-active {
    background: #00c1c1; /* Customize active pagination bullet */
  }
  