.product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background: #F2F2F2;
    margin-bottom: 20px;
    width: 100%;
}
.product img{
    width: 110px;
    height: 155px;
}