/* Gallery.module.css */

.galleryContainer {
    width: 100%;
    max-width: 560px;
    margin: auto;
  }
  .mainSlider {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%; /* Растягиваем до размеров контейнера */
  }
  
  .mainImage {
    max-width: 100% !important;
    max-height: 100% !important;
    object-fit: contain; /* Отображение полного изображения */
  }
  
  .thumbnailSlider {
    margin-top: 40px;
    width: 100%;
  }
  
  .thumbnailSlide {
    cursor: pointer;
    opacity: 0.5;
    height: 110px;
    transition: opacity 0.3s;
  }

  .thumbnailSlide.active {
    border: 2px solid #333; /* Цвет рамки */
    opacity: 1; /* Полная непрозрачность */
   /* Увеличение */
     /* Плавный переход */
    border-radius: 5px;

  }
  
  .thumbnailSlide:hover {
    opacity: 1;
  }
  
  .thumbnailImage {
    width: 100%;
    height: 100%;
    object-fit: cover !important; /* Change from contain to cover */
    object-position: center; /* Center the image */
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  /* Custom Navigation Buttons */
  .swiper-button-next,
  .swiper-button-prev {
    color: #333; /* Change button color */
    background-color: rgba(255, 255, 255, 0.8); /* Add background color */
    border-radius: 50%; /* Make buttons circular */
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Darker background on hover */
    color: #fff; /* Change color on hover */
    transform: scale(1.1); /* Slightly enlarge on hover */
  }
  
  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: 16px; /* Adjust arrow icon size */
  }
  