.gallery_container {
    padding: 100px 0;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap;
    width: 100%;
}

.horizontal_gallery {
    display: flex; /* Use flexbox for horizontal layout */
    gap: 10px; /* Spacing between images */
  }

.gallery_item {
  flex: 0 0 auto; /* Prevent shrinking, maintain original size */
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  max-width: 437px;
  max-height: 250px;
}

.gallery_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: auto;
  display: block;
  object-fit: cover;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal_content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
}

.modal_image {
  width: 100%;
  height: 80vh;
  border-radius: 8px;
  object-fit: cover;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.no_scroll {
  overflow: hidden;
}

.arrow_left, .arrow_right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  z-index: 1000;
  font-size: 24px;
}

.arrow_left {
  left: 10px;
}

.arrow_right {
  right: 10px;
}

.arrow_left:hover, .arrow_right:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 960px){
  .gallery_container{
    padding: 0 !important;
  }
  .horizontal_gallery{
    flex-wrap: wrap;
    justify-content: center !important;
    margin-bottom: 50px;
  }
  .gallery_item{
    width: 100%;
    flex-basis: 30%;
    height: 250px;
  }
  .gallery_item img{
    height: 100%;
  }
}

@media (max-width: 768px){
  .gallery_container{
    padding: 0 30px !important;
  }
  .gallery_item{
    width: 100%;
  }
  .horizontal_gallery{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center !important;
  }
}

@media (max-width: 480px){
  .gallery_item{
    width: 100%;
    flex-basis: calc(50% - 10px);
  }
}

@media (max-width: 360px){
  .gallery_item{
    width: 100%;
    flex-basis: 100%;
  }
}