
.detailSection h2{
    margin-bottom: 20px;
}
.detailSection{
    padding-bottom: 100px;
}
.detail{
    margin-top: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section{
    width: 33%;
    margin-top: 36px;
  
    
}
@media(max-width: 768px){
    .detailSection h2{
        font-size: 18px !important;
    }
    .section{
        width: 100% !important;
        h3{
            font-size: 20px !important;
        }
        p{
            font-size: 16px !important;
        }
    }
}
@media(max-width: 1100px){
    .detailSection h2{
        font-size: 20px !important;
    }
    .section{
        width: 48%;
        h3{
            font-size: 22px !important;
        }
        p{
            font-size: 18px !important;
        }
    }
    }

.section p{
    margin-top: 10px;
}
.section svg{ 
    height: 50px;
    width: 50px;
}
.details_row{
    @media(max-width: 768px){
        flex-direction: column !important;
        .details_extra_img{
            max-width:none;
            height: 300px;
            width: 100%;
            img{
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
.details_extra_img{
    @media(max-width: 960px){
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        min-width: 332.5px;
        max-width: 428.5px;
    }
}
.details_row:nth-child(2n){
    flex-direction: row-reverse;
    margin: 36px 0;
}
.details_row:nth-child(2n) .details_extra_text{
    padding-right: 11px;
    @media(max-width:768px){
        padding: 0;
        padding-top: 11px;
    }
}
.details_row:nth-child(2n-1) .details_extra_text{
    padding-left: 11px;
    @media(max-width:768px){
        padding: 0;
        padding-top: 11px;
    }
}
