.productsSection{
    margin: 50px 0;
}
.productsSection_heading h2{
    padding-bottom: 30px;
    border-bottom: 1px solid #54565A;
    margin-bottom: 50px;
}
.navigateTo{
    margin: 50px 0;
}
.navigateTo span{
    transition: .3s;
}
.navigateTo:hover span{
    color: #61C4BF !important;
}
.navigateTo svg path{
    transition: .3s;
}
.navigateTo:hover svg path{
    fill: #61C4BF;
}
@media (max-width: 960px){
    .productsSection_heading h2{
        font-size: 56px !important;
    }
}
@media (max-width: 650px){
    .productsSection_heading h2{
        font-size: 36px !important;
        margin-bottom: 20px;
        padding-bottom: 30px;
    }
    .navigateTo{
        margin: 30px 0;
        font-size: 28px !important;
    }
}
/* @media (max-width: 480px){
    .productsSection span{
        font-size: 28px !important;
    }
} */